<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Data Summarization</title>
  </head>
  <body>
    <header>
      <div class="w-screen">
        <h1 class="mb-4 bg-orange-400 pt-4 pb-8 text-center text-3xl font-bold"> Text Summarization </h1>
      </div>
    </header>
    <!-- Text Input  -->
    <div class="main flex">
      <div class="m-4 w-1/2">
        <form class="flex flex-col" action="{{url_for('summarize')}}" method="post">
          <textarea name="data" rows="20" cols="50" required class="mb-4 border-2 border-solid border-black" placeholder="Enter text for Summarization here ..."></textarea>
          <div class="slidecontainer">
            <input type="range" min="20" max="1000" value="100" class="slider mb-4" name="maxL" id="myRange" />
            <p> Minimum Words in Summary: <span id="demo" class="text-xl font-bold text-green-500"></span>
            </p>
          </div>
          <div class="mt-2 flex justify-around">
            <button class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="submit"> Submit </button>
            <button class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="reset"> Clear </button>
          </div>
        </form>
      </div>
      <!-- Result -->
      <div class="mt-4 w-1/2">
        <textarea readonly name="result" id="textareacopy" cols="50" rows="20" class="w-full border-2 border-solid border-black bg-gray-200" placeholder="Your Summary...">
        {{result}}</textarea>
        <div class="flex h-24 items-center justify-center">
          <button onclick="copy()" class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="reset"> Copy Summary </button>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
