<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Data Summarization</title>
  </head>
  <body>
    <header>
      <div class="w-screen">
        <h1 class="mb-4 bg-orange-400 pt-4 pb-8 text-center text-3xl font-bold"> Text Summarization </h1>
      </div>
    </header>
    <!-- Text Input  -->
    <div class="sm:gid-cols-1 container mx-auto grid lg:grid-cols-2">
      <div class="mt-4 p-2 sm:w-full lg:w-full">
        <form class="flex flex-col" action="{{url_for('summarize')}}" method="post">
          <textarea name="data" rows="20" cols="50" required class="mb-4 border-2 border-solid border-black p-2" placeholder="Enter text for Summarization here ..."></textarea>
          <div class="slidecontainer">
            <input type="range" min="20" max="1000" value="100" class="slider mb-4" name="maxL" id="myRange" />
            <p> Minimum Words in Summary: <span id="demo" class="text-xl font-bold text-green-500"></span>
            </p>
          </div>
          <div class="mt-2 flex justify-around">
            <button class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="submit"> Submit </button>
            <button class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="reset"> Clear </button>
          </div>
        </form>
      </div>
      <!-- Result -->
      <div class="mt-4 p-2 sm:w-full lg:w-full">
        <textarea readonly name="result" id="textareacopy" cols="50" rows="20" class="w-full border-2 border-solid border-black bg-gray-200 p-2" placeholder="Your Summary...">{{result}}</textarea>
        <div class="flex h-24 items-center justify-around">
          <button onclick="copy()" class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:bg-green-300" type="reset"> Copy Summary </button>
          <button onclick="clearsummary()" class="mb-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" type="reset"> Clear Summary </button>
        </div>
      </div>
    </div>
    <script>
      console.log("Hello");
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      slider.oninput = function() {
        output.innerHTML = this.value;
      };

      function copy() {
        let textarea = document.getElementById("textareacopy");
        textarea.select();
        document.execCommand("copy");
      }

      function clearsummary() {
        let textarea = document.getElementById("textareacopy");
        textarea.innerHTML = "";
      }
    </script>
  </body>
</html>